{{#bp-layout local-class="page-mission"}}
	{{#bp-layout wrap=true local-class="mission-list" classNames="p-4"}}
		{{#each model.useableProposals as |useableProposal uindex|}}
			{{#each model.papers as |paper pindex|}}
				{{#if (bp-eq uindex pindex)}}
					{{#each paper as |useableProposalPaper|}}
						{{mission-info
							local-class=(if (bp-eq model.detailPaper.id useableProposalPaper.id) 'choosed')
							useableProposal=useableProposal
							useableProposalPaper=useableProposalPaper
							onClick=(action 'changeDetail' useableProposal useableProposalPaper)}}
					{{/each}}
				{{/if}}
			{{/each}}
		{{else}}
			<p>暂无任务</p>
		{{/each}}
	{{/bp-layout}}
	{{#bp-layout direction="col" local-class="mission-desc" classNames="p-4"}}
		{{mission-state model.detailPaper.state classNames="mb-4"}}
		<h3 class="mt-3 mb-1">
			{{model.detailProposal.proposal.name}}
		</h3>
		<p local-class="phase" class="mb-4 d-none">
			<span>关卡1*</span>
			<span>(共{{model.detailProposal.proposal.totalPhase}}周期)</span>
		</p>
		<p local-class="desc" class="mb-4">
			{{model.detailProposal.proposal.describe }}
		</p>
		{{#bp-layout main="end" local-class="start" classNames="mb-4"}}
			{{#bp-button type="primary" tagName='span' onClick=(action 'start' model.detailProposal.proposal.id)}}
				开始部署
			{{/bp-button}}
		{{/bp-layout}}
		<div class="dropdown-divider mt-3 mb-4"></div>
		{{#bp-layout tagName="h4" main="between" classNames="mt-3 mb-4"}}
			<span local-class="title">历史报告</span>
			{{#if (bp-gt model.detailPaper.paperinputs.length 0)}}
				<span local-class="times">共完成{{model.detailPaper.paperinputs.length}}次</span>
			{{/if}}
		{{/bp-layout}}
		{{#each model.detailPaper.paperinputs as |paperinput index|}}
			{{#bp-layout tagName="p" main="between" cross="center" local-class="historp-report" classNames="px-2 py-3 m-0"}}
				{{#bp-layout tagName="span" local-class="infos"}}
					<span class="mr-3">{{bp-increment-property index}}</span>
					<span class="mr-4">s级*</span>
					<span>{{bp-string-slice paperinput.time 0 -3}}</span>
				{{/bp-layout}}
				{{#link-to "page-result"}}
					查看
				{{/link-to}}
			{{/bp-layout}}
		{{else}}
			<p>还没有完成过该任务</p>
		{{/each}}
	{{/bp-layout}}
{{/bp-layout}}